
body {
	font: 400 14px/1.5 'Roboto', sans-serif;
	color: #444;
}


/*********************/
/* Basic Page Markup */
/*********************/

#content {
	padding-top: 51px;
}

.content {
	margin-top: 10px;
}

#sidebar {
	margin-top: 30px;
}

.sidebar {
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
	padding: 10px 20px 20px;
}

.side_block {
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
	padding: 10px 20px 20px;
}

.hr-small {
	margin: 10px 0;
}

.pageTitle {
	background: #eee;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 10px 0 16px;
	display: block;
}

.pageTitle h1 {
	font: 700 4em/1.5 'Monda', sans-serif;
	margin: 0;
	color: #18a3d3;
	text-shadow: 0 -1px 0 #888;
}

.pageTitle h1 small {
	text-shadow: none;
	color: #18a3d3;
	font-size: 0.45em;
}

.well { /* Twitter-.well class */
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
}

#session-message {
	margin-top: 20px;
}

.alternate_color_block {
	background:rgba(0,0,0,.01);
	padding: 10px 0 30px;
	border-top: 1px solid rgba(0,0,0,0.07);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	margin-bottom: 30px;
}


/**************/
/* Navigation */
/**************/

.navbar-inner {
	background: #fafafa;
	height: 100%;
}

.navbar .brand {
	padding: 6px 8px 6px;
	margin: 6px 20px 6px 0px;

	font: 700 20px 'Roboto', sans-serif;
	background: #18a3d3;
	border-radius: 5px;
	text-shadow: none;
	color: #fff;
}

.navbar .nav>li>a {
	padding: 16px 18px 16px;
	font: 400 14px/1.3 'Roboto', sans-serif;
}

.navbar .nav>.active>a {
	background: #eee;
}

/***********/
/* Buttons */
/***********/

.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #1abc9c; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }


/********************/
/* Frontpage Styles */
/********************/

.frontpage_title {
	font: 700 54px/1 'Roboto', sans-serif;
	letter-spacing: -1px;
	margin: 0;
}

.frontpage_subtletitle {
	font: 400 italic 24px/2 'Roboto', sans-serif;
	margin: 12px 0 40px 0;
	color: #444;
}

.frontpage_subtletitle span {
	font: 700 32px/1.3 'Roboto', sans-serif;
	background: #18a3d3;
	padding: 3px 8px 4px;
	border-radius: 5px;
	color: #fff;
}

.frontpage_subtletitle span:hover {
	background: #444;
	color: #18a3d3;
	cursor: pointer;
	text-shadow: #222 1px 1px 0;
}


/************************/
/* Full size map styles */
/************************/

#map_canvas {
	width: 100%;
	height: 450px;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	margin-bottom: 40px;
	position: absolute;
}

#map_canvas img { max-width: none; }
#map_overlay {
	margin: 0px auto;
	position: relative;
	top: 0px;
	width: 100%;
	pointer-events:none;
	height: 450px;
	margin-bottom: 41px;
}

#map_overlay_inner_header {
	height: 42px;
	background: rgba(0,0,0,0.8);
	border: 2px solid #000;
	color: #eee;
	pointer-events: auto;
}

#map_overlay_inner_header:hover {
	background: rgba(0,0,0,0.9);
}

#map_overlay_inner_header h3 {
	margin: 0px auto 2px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#map_overlay_inner {
	background-color: rgba(0,0,0,0.8);
	height: 404px;
	color: #eee;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 1);
    pointer-events: auto;
    overflow-y: auto;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#map_overlay_inner h5{
	margin-top: 0;
}


/**********************/
/* Event List Styling */
/**********************/

#event_list ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	min-height: 400px;
	max-height: 660px;
	overflow-y: scroll;
}

#event_list li {
	margin:0;
	position: relative;
	padding: 12px 8px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
}

#event_list li:hover {
	background: rgba(0,0,0,0.01);
	border-top-color: transparent;
}

#event_list li a {
	text-decoration: none;
}

/*.event-list-thumb {
	float: left;
	height: 80px;
	margin-right: 20px;
}*/

.event-list-body {
	/*margin-left: 145px;*/
	position: relative;
	color: #555;
}

.event-list-body-title {
	font-size: 1.6em;
	font-weight: 700;
	margin: 4px 0 8px;
	display: block;
	color: #444;
}

.event-list-body-description {
	margin-bottom: 6px;
	display: block;
}

.event-list-body-metadata {
	display:block;
	font-size: 0.85em;
	color: #999;
}

/*.event-list-rating {
	float: right;
	font-size: 3em;
	margin-left: 20px;
	font: 400 2.4em/1.2 'Roboto', sans-serif;
	color: #fff;
	padding: 4px 6px;
	border-top: 5px solid #18a3d3;
	border-radius: 4px 4px 0 0;
	background: #444;
}*/







/******************/
/* Location Style */
/******************/

.location {}
.location-map { height: 400px; width: 100%; background: #ddd;}

#comment-container {margin-bottom: 20px;}
.comment {
	display: block;
}

.comment-inner {
	background: #fafafa;
	color: #555;
	padding:8px 16px;
	border: 1px solid #e2e2e2;
}

.comment-inner-author {
	font-size: 14px;
	font-weight: 700;
}

.comment-inner-body {
	font-size: 13px;
	padding-left: 10px;
}

.comment .comment {
	padding-left: 20px;
	padding-top: 6px;
}









#comment_post {}

.comment_post-notLoggedIn {
	display: block;
	font-size: 1.4em;
	font-weight: 700;
	padding: 14px;
	background: #fafafa;
	border: 1px solid #e2e2e2;
}









/***************/
/* Form Styles */
/***************/

form h3 {
	border-left: 5px solid #18a3d3;
	padding-left: 16px;
}


/****************/
/* Table Styles */
/****************/

table {
	width: 100%;
}

.styledTable {
	width: 100%;
}

.styledTable thead tr {
	background: #64caed !important;
	font-weight: 700;
}

.styledTable tr td {
	padding: 8px 12px;
	text-align: left;
}

.styledTable tr:nth-child(odd) {
	background: #f6f6f6;
}

.styledTable-position-highlight {
	background: #bfe9f8 !important;
}

.styledTable tr:hover {
	background: #91daf3 !important;
}

.styledTable-position-highlight td {
	padding: 14px 4px !important;
}

.styledTable-position {
	font-weight: 700;
}

.styledTable-position-first {font-size: 32px;}
.styledTable-position-second {font-size: 24px;}
.styledTable-position-third {font-size: 18px;}

.styledTable-tags {
	display: block;
	font-size: 0.85em;
	color: #999;
}

.styledTable-rating {
	width: 160px;
	padding: 0 !important;
}

.styledTable-rating-stars {
    background: url(../img/starrating.png);
    height: 30px;
    display: inline-block;
    background-position: 0 60px;
}



#fpPopular tr td:nth-child(1) {
	text-align: center;
}

#fpRecent tr td:nth-child(1) {
	width: 230px;
}