html, body {
    height: 100%;    
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -280px; /* the bottom margin is the negative value of the footer's height */
}

body {
	font-size: 100%;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.5;
	color: #333;
    overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	color: #383838;
	margin: 0 0 14px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

h1{font-size:4em;}
h2{font-size:2.25em;}
h3{font-size:1.25em;}


/*********************/
/* Basic Page Markup */
/*********************/

.container {
	width: 1070px !important;
}

#content {
	padding-top: 93px;
}

.content {
	padding: 40px 0;
}

#sidebar {
	margin-top: 30px;
}

.sidebar_block {
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
	padding: 14px 14px ;
	margin-bottom: 30px;
}

#footer {
	clear: both;
	height: 200px; /* .push must be the same height as .footer */
    background: #333;
    padding: 40px 0 40px;
    overflow: hidden;
}

#footer h2 {
    font-size: 1.25em;
    color: #fff;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

#footer p {
    font-size: 0.825em;
    color: #888;
}

.hr-small {
	margin: 10px 0;
}

.pageTitle {
	background: #eee;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 10px 0 16px;
	display: none; /* Misschien tijdelijk? */
}

.pageTitle h1 {
	font: 700 4em/1.5 'Monda', sans-serif;
	margin: 0;
	color: #18a3d3;
	text-shadow: 0 -1px 0 #888;
}

.pageTitle h1 small {
	text-shadow: none;
	color: #18a3d3;
	font-size: 0.45em;
}

.well { /* Twitter-.well class */
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
}

.alert {
	max-width: 16em;
	padding: 14px 35px 14px 14px;
}
.alert-info {
	border: 1px solid ;
}

#session-message {
	position: fixed;
	right: 5px;
	top: 56px;
	z-index: 9999;
}

.alternate_color_block {
	background:rgba(0,0,0,.01);
	padding: 30px 0;
	border-top: 1px solid rgba(0,0,0,0.07);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	margin-bottom: 30px;
}


/**************/
/* Navigation */
/**************/

#header {
    height: 86px;
    position:fixed;
    top:0;
    width: 100%;    
    border-top: 6px solid #3a3a3a;
    z-index: 999;
    background: #fff;
}

#header-inner {
    border-bottom: 1px solid #eee;
    height: 86px;
}

#main_logo {
    text-indent: -9999em;
    height: 70px;
    width: 210px;
    background: url(../img/main_logo.png) no-repeat 0 0;
    float: left;
    margin-right: 1.125em;
    margin-top: 4px
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav li {
    float: left;
    position: relative;
}

#nav li a {
	padding: 28px 20px 38px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
	font-size: 1em;
	line-height: 1.3;
	color: #3a3a3a;
    display: block;
	text-shadow: none;
    border-top: 6px solid transparent;
    border-bottom: 1px solid transparent;
    margin-top: -6px;
    text-align:center;
    text-decoration: none;
    -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

#nav li a:after {
    color: #aeaeae;
    font-family: 'PT Sans', sans-serif;
    content: attr(data-description);
    font-size: 0.75em;
    font-style: italic;
    font-weight: 400;
    display: block;
    line-height: 0;
    margin: 8px 0 -8px;
    text-align: center;
    text-transform: lowercase;
}

#nav li.active a,
#nav li:hover a {
    border-top-color: rgb(149,201,61);
    border-bottom-color: rgb(149,201,61);
    color: rgb(149,201,61);
    background: #f8f8f8;    
}

#nav li.active:after {
    width: 0; 
    height: 0;
    border-top: 7px solid rgb(149,201,61);
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    bottom: -6px;
    content: '';
    left: 50%;
    display: block;
    margin: 0 0 0 -2.5px;
    position: absolute;
}

/***********/
/* Buttons */
/***********/

.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #95C93D; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #abd465; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }


/********************/
/* Frontpage Styles */
/********************/

.frontpage_title {
	font-weight: 700;
	font-size: 3.375em;
	line-height: 1;
	letter-spacing: -1px;
	margin: 0;
}

.frontpage_subtletitle {
	font-weight: 400;
	font-size: 1.5em;
	line-height: 2;
	margin: 12px 0 40px 0;
	color: #444;
}

.frontpage_subtletitle span {
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.3;
	background: #18a3d3;
	padding: 3px 8px 4px;
	border-radius: 5px;
	color: #fff;
}

.frontpage_subtletitle span:hover {
	background: #444;
	color: #18a3d3;
	cursor: pointer;
	text-shadow: #222 1px 1px 0;
}


/************************/
/* Full size map styles */
/************************/

#map_canvas {
	width: 100%;
	height: 450px;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	/*margin-bottom: 40px;*/
	position: absolute;
}

#map_canvas img { max-width: none; }
#map_overlay {
	margin: 0px auto;
	position: relative;
	top: 0px;
	width: 100%;
	pointer-events:none;
	height: 450px;
}

#map_overlay_container {}

#map_overlay_inner {
	/*position: absolute;*/
	background-color: rgba(0,0,0,0.5);
	height: 450px;
	float: right;
	width: 200px;
    pointer-events: auto;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#map_overlay_inner ul {
	padding: 16px;
    margin: 0;
}

#map_overlay_inner li label {
    color: #fff;
}

#map_overlay_inner h5{
	margin-top: 0;
}

#map_overlay_inner_button {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 2px;
	position: relative;
	top: 410px;
	right: -206px;
	height: 40px;
	color: #000000;
	pointer-events: auto;
	width: 40px;
	cursor: pointer;
	font-size: 32px;
	text-align: center;
	line-height: 1;

	transition: all 0.5s linear;
	-webkit-transition: all 0.5s ease-in-out;

}

#map_overlay_inner_button:hover {
	/*background: rgba(0,0,0,0.5);*/
	color: #222;
	/*transform: rotate(180deg);*/
	/*-webkit-transform: rotate(180deg);*/
	/*transition: all 0.5s ease-in-out;*/
	/*-webkit-transition: all 0.5s ease-in-out;*/
}

#map_overlay_inner_button:active {
	/*transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: transform 0.5s ease-in-out;
	-webkit-transition: transform 0.5s ease-in-out;*/
}





/**********************/
/* Location List Styling */
/**********************/

#location_list ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#location_list li {
	margin:0;
	position: relative;
	padding: 4px 6px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
}

#location_list li:last-child {
	border: 0;
}

#location_list li:hover {
	background: #18a3d3;
	border-top-color: transparent;
}

#location_list li:hover .location-list-body-title {
	color: #fff;
}
#location_list li:hover .location-list-body-metadata {
	color: #f2f2f2;
}

#location_list li a {
	text-decoration: none;
}

.location-list-body {
	position: relative;
}

.location-list-body-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	display: block;
	color: #444;
}

.location-list-body-description {
	margin-bottom: 6px;
	display: block;
}

.location-list-body-metadata {
	display:block;
	font-size: 0.85em;
	color: #999;
}


/******************/
/* Location Style */
/******************/

.location-header {
    margin: 0 0 40px;
}

.location-marker {
    float: left;
    margin-right: 14px;
}

.location-title {
    margin: 0 0 4px;
    font-size: 2em;
}

.location-quick_info {
    color: #999;
    font-size: 0.8725em;
    letter-spacing: 1px;
}

.location-quick_info span {
    padding: 0 8px;
    border-right: 1px solid #eee;
}

.location-quick_info span:first-of-type {padding-left: 0;}
.location-quick_info span:last-of-type {padding-right: 0; border:0;}

#filter_location-get-geolocation {
	cursor: pointer;
}

#filter_location-range-value {
	margin-left: 6px;
	border: 1px solid rgba(0,0,0,.08);
	background: rgba(0,0,0,.05);
	padding: 4px 0;
	text-align: center;
	float: right;
	width: 60px;
}

.location {}
.location-map { height: 300px; width: 100%; background: #ddd; margin-bottom: 20px;}

#directions-container {}

#directions-result {
	padding: 10px 14px 20px;
	background: #fafafa;
	/*border: 1px solid #e2e2e2;*/
	border-radius: 4px;
	display: none;
}

#get-geolocation { cursor: pointer; }

#comment-container {margin-bottom: 20px;}
.comment {
	display: block;
	margin-bottom: 10px;
}

.comment-inner {
	background: #fafafa;
	color: #555;
	padding:8px 16px;
	border: 1px solid #e2e2e2;
}

.comment-inner-options {
	float: right;
	font-size: 15px;
}

.comment-inner-options a {
	color: #3bf;
}

.comment-inner-options a:hover {
	color: #08c;
	text-decoration: none;
}

.comment-inner-author {
	font-size: 14px;
	font-weight: 700;
}

.comment-inner-body {
	font-size: 13px;
	padding-left: 10px;
}

.comment .comment {
	padding-left: 20px;
	padding-top: 6px;
}

#comment_post {}

.comment_post-notLoggedIn {
	display: block;
	font-size: 1.4em;
	font-weight: 700;
	padding: 14px;
	background: #fafafa;
	border: 1px solid #e2e2e2;
}

.rating {
	margin: 0 0 8px;
}

.label {
	margin: 0 0 6px;
}


/************************/
/* Thumb Rating Styling */
/************************/

.thumbRating {
	height: 20px;
	overflow:hidden;
}
.thumbRating.activePos {
	background-color: green;
}

.thumbRating.activeNeg {
	background-color: red;
}

.thumbRating.small {
	width: 14px;
}


/***************/
/* Form Styles */
/***************/

form h3 {
	border-left: 5px solid #18a3d3;
	padding-left: 16px;
}


/****************/
/* Table Styles */
/****************/

table {
	width: 100%;
}

.styledTable {
	width: 100%;
}

.styledTable thead tr {
	background: #64caed !important;
	font-weight: 700;
}

.styledTable tr td {
	padding: 8px 12px;
	text-align: left;
}

.styledTable tr:nth-child(odd) {
	background: #f6f6f6;
}

.styledTable-position-highlight {
	background: #bfe9f8 !important;
}

.styledTable tr:hover {
	background: #91daf3 !important;
}

.styledTable-position-highlight td {
	padding: 14px 4px !important;
}

.styledTable-position {
	font-weight: 700;
}

.styledTable-position-first {font-size: 32px;}
.styledTable-position-second {font-size: 24px;}
.styledTable-position-third {font-size: 18px;}

.styledTable-tags {
	display: block;
	font-size: 0.85em;
	color: #999;
}

.styledTable-rating {
	width: 160px;
	padding: 0 !important;
}

.styledTable-rating-stars {
    background: url(../img/starrating.png);
    height: 30px;
    display: inline-block;
    background-position: 0 60px;
}



#fpPopular tr td:nth-child(1) {
	text-align: center;
}

#fpRecent tr td:nth-child(1) {
	width: 230px;
}


/******************************/
/* Small-size Article Styling */
/******************************/

.article-small-container {}
.article-small {
	border-bottom: 1px solid #eee;
	padding: 14px 0;
}
.article-small:first-of-type {
	padding-top: 0;
}
.article-small:last-of-type {
	border: 0;
	padding-bottom: 0;
}
.article-small-title {
	line-height: 0.8;
    font-size: 2em;
/*    margin: 0;*/
}
.article-small-body {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	color: #555;
}
.article-small-meta {
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1.5;
	color: #999;
}
.article-small-readmore {
	margin-left: 6px;
	display: inline-block;
}


/*****************************/
/* Full-size Article Styling */
/*****************************/

.article {}
.article-title {
	font-weight: 400;
	font-size: 3.6em;
	line-height: 1.2;
}
.article-body {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
}
.article-meta {
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1.5;
	color: #999;
}


/*****************************/
/* Frontpage Article Styling */
/*****************************/

.fpArticles-container {
	margin-bottom: 14px;
}
.fpArticle {
	display: block;
	padding: 8px 0;
}
.fpArticle-title {
	float: left;
}
.fpArticle-publishedDate {
	float: left;
	margin-right: 10px;
	font-weight: 700;
}

/**********************/
/* Event List Styling */
/**********************/

.eventList {
	margin: 0 0 20px;
}

.eventList td:last-of-type {
	width: 110px;
	text-align: right;
}


.eventList [class^="icon-"] {
	color: #18a3d3;
	margin-right: 6px;
}




#fpLocations-container {
	border-left: 1px solid rgba(0, 0, 0, 0.07);
	border-right: 1px solid rgba(0, 0, 0, 0.07);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 350px;
}

.fpLocations-sortbar {
	float: left;
	width: 5%;
	overflow: hidden;
    height: 100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,.07);
}

.fpLocations-sortbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.fpLocations-sortbar li {
	width: 100%;
	padding: 8px 0;
	font-size: 32px;
	text-align: center;
	background: rgba(0,0,0,0.01);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	color: #777;
}

.fpLocations-sortbar li:last-child {
	border-bottom: 1px solid rgba(0,0,0,0.07);
}

.fpLocations-sortbar li:hover {
	/*background: rgba(0,0,0,0.05);*/
	cursor: pointer;
	color: #333;
}

.fpLocations-right {
	width: 95%;
	overflow: hidden;
	-webkit-box-shadow: inset rgba(0,0,0,0.1) -1px 1px 5px -1px;
	-moz-box-shadow: inset rgba(0,0,0,0.1) -1px 1px 5px -1px;
	box-shadow: inset rgba(0,0,0,0.1) -1px 1px 5px -1px;
}

.fpLocation-table { }

.fpLocation-table tr {
	padding: 12px 20px;
}
.fpLocation-table tr td {
	padding-top: 8px;
	padding-bottom: 8px;
}
/*.fpLocation-table tr:nth-child(odd) {}*/
.fpLocation-table tr:nth-child(even) { background: rgba(0, 0, 0, 0.01); }

.fpLocation-category {
	width: 50px;
	padding-left: 10px;
	text-align: center;
}

.fpLocation-category img {
	height: 50px;
	width: auto;
}

.fpLocation-title {
	padding-left: 10px;
	font-size: 1.3em;
	line-height: 1.2;
}

.fpLocation-address {
	display: block;
	font-size: 0.6em;
	color: #aaa;
}

.fpLocation-icon {
	width: 30px;
	text-align: center;
}

.fpLocation-rating {
	font-size: 1.5em;
	text-align: center;
	width: 70px;
	/*font-weight: 700;*/
}

.fpLocation-rating small {
	display: block;
	font-size: 0.5em;
	color: #aaa;
}


/*****************************/
/* Loading animation styling */
/*****************************/

div.loading {
	width: 100%;
	margin: auto;
	height: 100%;
	text-align: center;
	margin-top: 150px;
}

.loading span {
	display: block; 
	margin: 0 auto;
}

.loading span[class*="l-"] {
	height: 4px; width: 4px;
	background: #000;
	display: inline-block;
	margin: 12px 2px;
	
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	
	-webkit-animation: loader 4s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-webkit-animation-fill-mode: both;
	-moz-animation: loader 4s infinite;
	-moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-moz-animation-fill-mode: both;
	-ms-animation: loader 4s infinite;
	-ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-ms-animation-fill-mode: both;
	animation: loader 4s infinite;
	animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	animation-fill-mode: both;
}

.loading span.l-1 {-webkit-animation-delay: 1s;animation-delay: 1s;-ms-animation-delay: 1s;-moz-animation-delay: 1s;}
.loading span.l-2 {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;-ms-animation-delay: 0.8s;-moz-animation-delay: 0.8s;}
.loading span.l-3 {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;-ms-animation-delay: 0.6s;-moz-animation-delay: 0.6s;}
.loading span.l-4 {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;-ms-animation-delay: 0.4s;-moz-animation-delay: 0.4s;}
.loading span.l-5 {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;-ms-animation-delay: 0.2s;-moz-animation-delay: 0.2s;}
.loading span.l-6 {-webkit-animation-delay: 0;animation-delay: 0;-ms-animation-delay: 0;-moz-animation-delay: 0;}

@-webkit-keyframes loader {
	0% {-webkit-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-webkit-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-moz-keyframes loader {
	0% {-moz-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-moz-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-keyframes loader {
	0% {-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-ms-keyframes loader {
	0% {-ms-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-ms-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}
