* {
	padding: 0;
	margin: 0;
}

body{
	width: 90%;
	margin: 0 auto;
}

p {
	margin: 0 0 8px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 14px;
}

header{
	padding-top: 40px;
	border-bottom: 1px solid #333;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	display: inline-block;
}

div#pageContainer{
	padding: 20px 0;
}

footer{
	padding-top: 40px;
	border-top: 1px solid #333;
}

form label {
	width: 200px;
	float: left;
}

form input[type='submit'] {
	padding: 4px 12px;
	margin-left: 200px;
}
