body {
	font-family: 'Roboto', sans-serif;
}

#content {
	padding-top: 51px;
}

.navbar-inner {
	background: #fafafa;
	height: 100%;
}

.navbar .brand {
	padding: 6px 8px 6px;
	margin: 6px 20px 6px 0px;

	font: 700 20px 'Roboto', sans-serif;
	background: #18a3d3;
	border-radius: 5px;
	text-shadow: none;
	color: #fff;
}

.navbar .nav>li>a {
	padding: 16px 18px 16px;
	font: 400 14px/1.3 'Roboto', sans-serif;
}

.navbar .nav>.active>a {
	background: #eee;
}

.alternate_color_block {
	background:rgba(0,0,0,.01);
	padding: 10px 0 30px;
	border-top: 1px solid rgba(0,0,0,0.07);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	margin-bottom: 30px;
}

.content {
	margin-top: 30px;
}

#frontpage-maps_locations {
	background:url('../img/placeholders/maps.png') no-repeat center center;
	width: 100%;
	height: 450px; /* 500 in productie */
	border-bottom: 1px solid rgba(0,0,0,0.07);
	margin-bottom: 40px;
}

.frontpage_title {
	font: 700 54px/1 'Roboto', sans-serif;
	letter-spacing: -1px;
	margin: 0;
}

.frontpage_subtletitle {
	font: 400 italic 24px/2 'Roboto', sans-serif;
	margin: 12px 0 40px 0;
	color: #444;
}

.frontpage_subtletitle span {
	font: 700 32px/1.3 'Roboto', sans-serif;
	background: #18a3d3;
	padding: 3px 8px 4px;
	border-radius: 5px;
	color: #fff;
}

.frontpage_subtletitle span:hover {
	background: #444;
	color: #18a3d3;
	cursor: pointer;
	text-shadow: #222 1px 1px 0;
}

#sidebar {
	margin-top: 30px;
}

.side_block {
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
	padding: 10px 20px 20px;
}

.well {
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
}

#session-message {
	margin-top: 20px;
}




#event_list ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#event_list li {
	margin:0;
	position: relative;
	padding: 12px 8px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
}

#event_list li:hover {
	background: rgba(0,0,0,0.01);
	border-top-color: transparent;
}

#event_list li a {
	text-decoration: none;
}

.event-list-thumb {
	float: left;
	height: 80px;
	margin-right: 20px;
}

.event-list-body {
	margin-left: 145px;
	position: relative;
	color: #555;
}

.event-list-body-title {
	font-size: 1.6em;
	font-weight: 700;
	margin: 4px 0 8px;
	display: block;
	color: #444;
}

.event-list-body-description {
	margin-bottom: 6px;
	display: block;
}

.event-list-body-metadata {
	display:block;
	font-size: 0.85em;
	color: #999;
}

.event-list-rating {
	float: right;
	font-size: 3em;
	margin-left: 20px;
	font: 400 2.4em/1.2 'Roboto', sans-serif;
	color: #fff;
	padding: 4px 6px;
	border-top: 5px solid #18a3d3;
	border-radius: 4px 4px 0 0;
	background: #444;
}

.sidebar {
	background: rgba(0,0,0,.02);
	border: 1px solid rgba(0,0,0,0.05);
	padding: 10px 20px 20px;
}

.hr-small {
	margin: 10px 0;
}

.radio.inline.notop {
	padding-top: 0px;
}

.inoutdoor {
	margin-bottom: 20px;
}