<div ng-show="loading" class="loading">
	<span ng-hide="curPlaceLat">Vul hierboven een adres in</span>
	<span ng-show="curPlaceLat">Loading</span>
	<span ng-show="curPlaceLat" class="l-1"></span>
	<span ng-show="curPlaceLat" class="l-2"></span>
	<span ng-show="curPlaceLat" class="l-3"></span>
	<span ng-show="curPlaceLat" class="l-4"></span>
	<span ng-show="curPlaceLat" class="l-5"></span>
	<span ng-show="curPlaceLat" class="l-6"></span>
</div>


<table class="fpLocation-table" ng-hide="loading">

	<tr ng-repeat="location in result | orderBy:sortingOrder:distance">
		<td class="fpLocation-category">
			<img ng-src="img/maps/{{location.img}}.png" ng-click="centerTo(location.latitude, location.longitude)" />
		</td>

		<td class="fpLocation-title">
			<a href="{{BASE + 'locations/' + location.id}}">{{location.name}}</a>
			<span class="fpLocation-address">{{location.formatted_address | formatAddress:location.postalcode:location.number:location.city}}</span>
			<span class="fpLocation-address">{{Math.round( location.distance * 10 ) / 10}} km</span>
		</td>

		<td class="fpLocation-icon" ng-switch on="!!location.website">
			<a href="{{location.website}}" ng-switch-when="true" target="_blank"><i class="icon-globe activeLink"></i></a>
			<i class="icon-globe" ng-switch-default></i>
		</td>
		<td class="fpLocation-icon" ng-switch on="!!location.tel">
			<a href="tel:{{location.tel}}" ng-switch-when="true" data-toggle="tooltip" title="{{location.tel}}" target="_blank"> <i class="icon-phone activeLink"></i></a>
			<i class="icon-phone" ng-switch-default></i>
		</td>
		<td class="fpLocation-icon" ng-switch on="!!location.email">
			<a href="mailto:{{location.email}}" ng-switch-when="true" data-toggle="tooltip" title="{{location.email}}"><i class="icon-envelope activeLink"></i></a>
			<i class="icon-envelope" ng-switch-default></i>
		</td>

		<td class="fpLocation-rating">{{Math.round( location.score * 10 ) / 10}}<small>van de 5.0</small></td>

	</tr>

</table>